name: Patch Template

on:
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  Publish:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == 'true' && startsWith( github.head_ref, 'patch-generate-' ) == 'true'
    steps:
      - name: Extract Variables
        id: variables
        run: |
          echo "github.event.pull_request.merged: ${{ github.event.pull_request.merged }}";
          echo "github.head_ref: ${{ github.head_ref }} ${{ startsWith( github.head_ref, 'patch-generate-' ) }}";

          framework=`echo '${{ github.head_ref }}' | jq -Rr 'split("-")[2]'`;
          echo "::set-output name=framework::$framework";
          echo "Using framework: $framework";

          version=`echo '${{ github.head_ref }}' | jq -Rr 'split("-")[3]'`;
          echo "::set-output name=version::$version";
          echo "Using version: $version";

      - name: Validate Variables
        run: |
          if [ "${{ steps.variables.outputs.framework }}" == "" ]; then 
            echo "Could not determine framework";
            exit 1;
          fi;
          if [ "${{ steps.variables.outputs.version }}" == "" ]; then 
            echo "Could not determine version";
            exit 1;
          fi;
      
      - name: Checkout Template
        uses: actions/checkout@v3
        with:
          repository: "searchspring/snapfu-template-${{ steps.variables.outputs.framework }}"
          path: "snapfu-template-${{ steps.variables.outputs.framework }}"
          ref: "production"
          token: ${{ secrets.MACHINE_ACTION_WORKFLOW_PAT }}

      - name: Patch Template
        working-directory: snapfu-template-${{ steps.variables.outputs.framework }}
        run: |
          git config --global user.name "searchspring-machine"
          git config --global user.email "machine@searchspring.com"
          
          git checkout -b patch-template-${{ steps.variables.outputs.framework }}-${{ steps.variables.outputs.version }}
          
          # update searchspring version
          contents="$(jq '.searchspring .version = "${{ steps.variables.outputs.version }}"' < package.json)"
          echo -E "${contents}" > package.json

          # update snap-[framework] dependancy
          contents="$(jq '.dependencies ."@searchspring/snap-${{ steps.variables.outputs.framework }}" = "${{ steps.variables.outputs.version }}"' < package.json)"
          echo -E "${contents}" > package.json

          # update snap-[framework]-components dependancy
          contents="$(jq '.dependencies ."@searchspring/snap-${{ steps.variables.outputs.framework }}-components" = "${{ steps.variables.outputs.version }}"' < package.json)"
          echo -E "${contents}" > package.json

          git add package.json
          git commit -m "auto generated template patch from 'Patch Template' action workflow"
          git push -u origin patch-template-${{ steps.variables.outputs.framework }}-${{ steps.variables.outputs.version }}
 
      - name: Create PR
        run: |
          gh pr create --title "Patch Template ${{ steps.variables.outputs.framework }}/${{ steps.variables.outputs.version }}" --body "" --repo "https://github.com/searchspring/snapfu-template-${{ steps.variables.outputs.framework }}" --base "production" --head "patch-template-${{ steps.variables.outputs.framework }}-${{ steps.variables.outputs.version }}" --project "Snap Beta" --reviewer "searchspring/snap-team"
        env:
          GITHUB_TOKEN: ${{ secrets.MACHINE_ACTION_WORKFLOW_PAT }}
